<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bookType</key>
	<array>
		<string>Core Rulebook</string>
		<string>Official Adventure</string>
		<string>Campaign Sourcebook</string>
		<string>Online Supplement</string>
	</array>
	<key>ability</key>
	<array>
		<string>Strength</string>
		<string>Dexterity</string>
		<string>Constitution</string>
		<string>Intelligence</string>
		<string>Wisdom</string>
		<string>Charisma</string>
	</array>
	<key>skill</key>
	<array>
		<array>
			<string>Athletics</string>
		</array>
		<array>
			<string>Acrobatics</string>
			<string>Sleight of Hand</string>
			<string>Stealth</string>
		</array>
		<array/>
		<array>
			<string>Arcana</string>
			<string>History</string>
			<string>Investigation</string>
			<string>Nature</string>
			<string>Religion</string>
		</array>
		<array>
			<string>Animal Handling</string>
			<string>Insight</string>
			<string>Medicine</string>
			<string>Perception</string>
			<string>Survival</string>
		</array>
		<array>
			<string>Deception</string>
			<string>Intimidation</string>
			<string>Performance</string>
			<string>Persuasion</string>
		</array>
	</array>
	<key>size</key>
	<array>
		<string>Tiny</string>
		<string>Small</string>
		<string>Medium</string>
		<string>Large</string>
		<string>Huge</string>
		<string>Gargantuan</string>
	</array>
	<key>sizeSpace</key>
	<array>
		<real>2.5</real>
		<integer>5</integer>
		<integer>5</integer>
		<integer>10</integer>
		<integer>15</integer>
		<integer>20</integer>
	</array>
	<key>sizeHitDiceSides</key>
	<array>
		<integer>4</integer>
		<integer>6</integer>
		<integer>8</integer>
		<integer>10</integer>
		<integer>12</integer>
		<integer>20</integer>
	</array>
	<key>alignment</key>
	<array>
		<string>Unaligned</string>
		<string>Lawful Good</string>
		<string>Lawful Neutral</string>
		<string>Lawful Evil</string>
		<string>Neutral Good</string>
		<string>Neutral</string>
		<string>Neutral Evil</string>
		<string>Chaotic Good</string>
		<string>Chaotic Neutral</string>
		<string>Chaotic Evil</string>
	</array>
	<key>monsterType</key>
	<array>
		<string>Aberration</string>
		<string>Beast</string>
		<string>Celestial</string>
		<string>Construct</string>
		<string>Dragon</string>
		<string>Elemental</string>
		<string>Fey</string>
		<string>Fiend</string>
		<string>Giant</string>
		<string>Humanoid</string>
		<string>Monstrosity</string>
		<string>Ooze</string>
		<string>Plant</string>
		<string>Undead</string>
	</array>
	<key>race</key>
	<array>
		<string>Dwarf</string>
		<string>Elf</string>
		<string>Halfling</string>
		<string>Human</string>
		<string>Dragonborn</string>
		<string>Gnome</string>
		<string>Half-Elf</string>
		<string>Half-Orc</string>
		<string>Tiefling</string>
		<string>Aasimar</string>
		<string>Aarakocra</string>
		<string>Genasi</string>
		<string>Goliath</string>
	</array>
	<key>subrace</key>
	<array>
		<array>
			<string>Hill Dwarf</string>
			<string>Mountain Dwarf</string>
			<string>Gray Dwarf (Duergar)</string>
		</array>
		<array>
			<string>High Elf</string>
			<string>Wood Elf</string>
			<string>Dark Elf (Drow)</string>
			<string>Eladrin</string>
		</array>
		<array>
			<string>Lightfoot Halfling</string>
			<string>Stout Halfling</string>
		</array>
		<array/>
		<array/>
		<array>
			<string>Forest Gnome</string>
			<string>Rock Gnome</string>
			<string>Deep Gnome (Svirfneblin)</string>
		</array>
		<array/>
		<array/>
		<array/>
		<array/>
		<array/>
		<array>
			<string>Air Genasi</string>
			<string>Earth Genasi</string>
			<string>Fire Genasi</string>
			<string>Water Genasi</string>
		</array>
		<array/>
	</array>
	<key>raceSize</key>
	<array>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
	</array>
	<key>characterClass</key>
	<array>
		<string>Barbarian</string>
		<string>Bard</string>
		<string>Cleric</string>
		<string>Druid</string>
		<string>Fighter</string>
		<string>Monk</string>
		<string>Paladin</string>
		<string>Ranger</string>
		<string>Rogue</string>
		<string>Sorcerer</string>
		<string>Warlock</string>
		<string>Wizard</string>
	</array>
	<key>background</key>
	<array>
		<string>Acolyte</string>
		<string>Charlatan</string>
		<string>Criminal</string>
		<string>Entertainer</string>
		<string>Folk Hero</string>
		<string>Guild Artisan</string>
		<string>Hermit</string>
		<string>Noble</string>
		<string>Outlander</string>
		<string>Sage</string>
		<string>Sailor</string>
		<string>Soldier</string>
		<string>Urchin</string>
		<string>City Watch</string>
		<string>Clan Crafter</string>
		<string>Cloistered Scholar</string>
		<string>Courtier</string>
		<string>Faction Agent</string>
		<string>Far Traveler</string>
		<string>Inheritor</string>
		<string>Knight of the Order</string>
		<string>Mercenary Veteran</string>
		<string>Urban Bounty Hunter</string>
		<string>Waterdhavian Noble</string>
	</array>
	<key>levelXP</key>
	<dict>
		<key>1</key>
		<integer>0</integer>
		<key>2</key>
		<integer>300</integer>
		<key>3</key>
		<integer>900</integer>
		<key>4</key>
		<integer>2700</integer>
		<key>5</key>
		<integer>6500</integer>
		<key>6</key>
		<integer>14000</integer>
		<key>7</key>
		<integer>23000</integer>
		<key>8</key>
		<integer>34000</integer>
		<key>9</key>
		<integer>48000</integer>
		<key>10</key>
		<integer>64000</integer>
		<key>11</key>
		<integer>85000</integer>
		<key>12</key>
		<integer>100000</integer>
		<key>13</key>
		<integer>120000</integer>
		<key>14</key>
		<integer>140000</integer>
		<key>15</key>
		<integer>165000</integer>
		<key>16</key>
		<integer>195000</integer>
		<key>17</key>
		<integer>225000</integer>
		<key>18</key>
		<integer>265000</integer>
		<key>19</key>
		<integer>305000</integer>
		<key>20</key>
		<integer>355000</integer>
	</dict>
	<key>levelProficienyBonus</key>
	<dict>
		<key>1</key>
		<integer>2</integer>
		<key>2</key>
		<integer>2</integer>
		<key>3</key>
		<integer>2</integer>
		<key>4</key>
		<integer>2</integer>
		<key>5</key>
		<integer>3</integer>
		<key>6</key>
		<integer>3</integer>
		<key>7</key>
		<integer>3</integer>
		<key>8</key>
		<integer>3</integer>
		<key>9</key>
		<integer>4</integer>
		<key>10</key>
		<integer>4</integer>
		<key>11</key>
		<integer>4</integer>
		<key>12</key>
		<integer>4</integer>
		<key>13</key>
		<integer>5</integer>
		<key>14</key>
		<integer>5</integer>
		<key>15</key>
		<integer>5</integer>
		<key>16</key>
		<integer>5</integer>
		<key>17</key>
		<integer>6</integer>
		<key>18</key>
		<integer>6</integer>
		<key>19</key>
		<integer>6</integer>
		<key>20</key>
		<integer>6</integer>
	</dict>
	<key>levelXPThreshold</key>
	<dict>
		<key>1</key>
		<array>
			<integer>25</integer>
			<integer>50</integer>
			<integer>75</integer>
			<integer>100</integer>
		</array>
		<key>2</key>
		<array>
			<integer>50</integer>
			<integer>100</integer>
			<integer>150</integer>
			<integer>200</integer>
		</array>
		<key>3</key>
		<array>
			<integer>75</integer>
			<integer>150</integer>
			<integer>225</integer>
			<integer>400</integer>
		</array>
		<key>4</key>
		<array>
			<integer>125</integer>
			<integer>250</integer>
			<integer>375</integer>
			<integer>500</integer>
		</array>
		<key>5</key>
		<array>
			<integer>250</integer>
			<integer>500</integer>
			<integer>750</integer>
			<integer>1100</integer>
		</array>
		<key>6</key>
		<array>
			<integer>300</integer>
			<integer>600</integer>
			<integer>900</integer>
			<integer>1400</integer>
		</array>
		<key>7</key>
		<array>
			<integer>350</integer>
			<integer>750</integer>
			<integer>1100</integer>
			<integer>1700</integer>
		</array>
		<key>8</key>
		<array>
			<integer>450</integer>
			<integer>900</integer>
			<integer>1400</integer>
			<integer>2100</integer>
		</array>
		<key>9</key>
		<array>
			<integer>550</integer>
			<integer>1100</integer>
			<integer>1600</integer>
			<integer>2400</integer>
		</array>
		<key>10</key>
		<array>
			<integer>600</integer>
			<integer>1200</integer>
			<integer>1900</integer>
			<integer>2800</integer>
		</array>
		<key>11</key>
		<array>
			<integer>800</integer>
			<integer>1600</integer>
			<integer>2400</integer>
			<integer>3600</integer>
		</array>
		<key>12</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
			<integer>4500</integer>
		</array>
		<key>13</key>
		<array>
			<integer>1100</integer>
			<integer>2200</integer>
			<integer>3400</integer>
			<integer>5100</integer>
		</array>
		<key>14</key>
		<array>
			<integer>1250</integer>
			<integer>2500</integer>
			<integer>3800</integer>
			<integer>5700</integer>
		</array>
		<key>15</key>
		<array>
			<integer>1400</integer>
			<integer>2800</integer>
			<integer>4300</integer>
			<integer>6400</integer>
		</array>
		<key>16</key>
		<array>
			<integer>1600</integer>
			<integer>3200</integer>
			<integer>4800</integer>
			<integer>7200</integer>
		</array>
		<key>17</key>
		<array>
			<integer>2000</integer>
			<integer>3900</integer>
			<integer>5900</integer>
			<integer>8800</integer>
		</array>
		<key>18</key>
		<array>
			<integer>2100</integer>
			<integer>4200</integer>
			<integer>6300</integer>
			<integer>9500</integer>
		</array>
		<key>19</key>
		<array>
			<integer>2400</integer>
			<integer>4900</integer>
			<integer>7300</integer>
			<integer>10900</integer>
		</array>
		<key>20</key>
		<array>
			<integer>2800</integer>
			<integer>5700</integer>
			<integer>8500</integer>
			<integer>12700</integer>
		</array>
	</dict>
	<key>levelXPPerDay</key>
	<dict>
		<key>1</key>
		<integer>300</integer>
		<key>2</key>
		<integer>600</integer>
		<key>3</key>
		<integer>1200</integer>
		<key>4</key>
		<integer>1700</integer>
		<key>5</key>
		<integer>3500</integer>
		<key>6</key>
		<integer>4000</integer>
		<key>7</key>
		<integer>5000</integer>
		<key>8</key>
		<integer>6000</integer>
		<key>9</key>
		<integer>7500</integer>
		<key>10</key>
		<integer>9000</integer>
		<key>11</key>
		<integer>10500</integer>
		<key>12</key>
		<integer>11500</integer>
		<key>13</key>
		<integer>13500</integer>
		<key>14</key>
		<integer>15000</integer>
		<key>15</key>
		<integer>18000</integer>
		<key>16</key>
		<integer>20000</integer>
		<key>17</key>
		<integer>25000</integer>
		<key>18</key>
		<integer>27000</integer>
		<key>19</key>
		<integer>30000</integer>
		<key>20</key>
		<integer>40000</integer>
	</dict>
	<key>armorType</key>
	<array>
		<string>None</string>
		<string>Natural Armor</string>
		<string>Padded Armor</string>
		<string>Leather Armor</string>
		<string>Studded Leather</string>
		<string>Hide Armor</string>
		<string>Chain Shirt</string>
		<string>Scale Mail</string>
		<string>Breastplate</string>
		<string>Half Plate</string>
		<string>Ring Mail</string>
		<string>Chain Mail</string>
		<string>Splint</string>
		<string>Plate</string>
		<string>Armor Scraps</string>
		<string>Barding Scraps</string>
		<string>Patchwork Armor</string>
	</array>
	<key>armorClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>11</integer>
		<integer>11</integer>
		<integer>12</integer>
		<integer>12</integer>
		<integer>13</integer>
		<integer>14</integer>
		<integer>14</integer>
		<integer>15</integer>
		<integer>14</integer>
		<integer>16</integer>
		<integer>17</integer>
		<integer>18</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>armorDexterityModifierMax</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>10</integer>
		<integer>10</integer>
		<integer>10</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>armorMinimumStrength</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>13</integer>
		<integer>15</integer>
		<integer>15</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>armorStealthDisadvantage</key>
	<array>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
	</array>
	<key>damageType</key>
	<array>
		<string>Acid</string>
		<string>Bludgeoning</string>
		<string>Cold</string>
		<string>Fire</string>
		<string>Force</string>
		<string>Lightning</string>
		<string>Necrotic</string>
		<string>Piercing</string>
		<string>Poison</string>
		<string>Psychic</string>
		<string>Radiant</string>
		<string>Slashing</string>
		<string>Thunder</string>
	</array>
	<key>condition</key>
	<array>
		<string>Blinded</string>
		<string>Charmed</string>
		<string>Deafened</string>
		<string>Exhaustion</string>
		<string>Frightened</string>
		<string>Grappled</string>
		<string>Incapacitated</string>
		<string>Invisible</string>
		<string>Paralyzed</string>
		<string>Petrified</string>
		<string>Poisoned</string>
		<string>Prone</string>
		<string>Restrained</string>
		<string>Stunned</string>
		<string>Unconscious</string>
	</array>
	<key>conditionDescription</key>
	<array>
		<array>
			<string>• A blinded creature can&apos;t see and automatically fails any ability check that requires sight.</string>
			<string>• Attack rolls against the creature have advantage, and the creature&apos;s attack rolls have disadvantage.</string>
		</array>
		<array>
			<string>• A charmed creature can&apos;t attack the charmer or target the charmer with harmful abilities or magical effects.</string>
			<string>• The charmer has advantage on any ability check to interact socially with the creature.</string>
		</array>
		<array>
			<string>• A deafened creature can&apos;t hear and automatically fails any ability check that requires hearing.</string>
		</array>
		<array/>
		<array>
			<string>• A frightened creature has disadvantage on ability checks and attack rolls while the source of its fear is within line of sight.</string>
			<string>• The creature can&apos;t willingly move closer to the source of its fear.</string>
		</array>
		<array>
			<string>• A grappled creature&apos;s speed becomes 0, and it can&apos;t benefit from any bonus to its speed.</string>
			<string>• The condition ends if the grappler is incapacitated (see the condition).</string>
			<string>• The condition also ends if an effect removes the grappled creature from the reach of the grappler or grappling effect, such as when a creature is hurled away by the [thunderwave] spell.</string>
		</array>
		<array>
			<string>• An incapacitated creature can&apos;t take actions or reactions.</string>
		</array>
		<array>
			<string>• An invisible creature is impossible to see without the aid of magic or a special sense. For the purpose of hiding, the creature is heavily obscured. The creature&apos;s location can be detected by any noise it makes or any tracks it leaves.</string>
			<string>• Attack rolls against the creature have disadvantage, and the creature&apos;s attack rolls have advantage.</string>
		</array>
		<array>
			<string>• A paralyzed creature is incapacitated (see the condition) and can&apos;t move or speak.</string>
			<string>• The creature automatically fails Strength and Dexterity saving throws.</string>
			<string>• Attack rolls against the creature have advantage.</string>
			<string>• Any attack that hits the creature is a critical hit if the attacker is within 5 feet of the creature.</string>
		</array>
		<array>
			<string>• A petrified creature is transformed, along with any nonmagical object it is wearing or carrying, into a solid inanimate substance (usually stone). Its weight increased by a factor of ten, and it ceases aging.</string>
			<string>• The creature is incapacitated (see the condition), can&apos;t move or speak, and is unaware of its surroundings.</string>
			<string>• Attack rolls against the creature have advantage.</string>
			<string>• The creature automatically fails Strength and Dexterity saving throws.</string>
			<string>• The creature has resistance to all damage.</string>
			<string>• The creature is immune to poision and disease, although a poision or disease already in its system is suspended, not neutralized.</string>
		</array>
		<array>
			<string>• A poisoned creature has disadvantage on attack rolls and ability checks.</string>
		</array>
		<array>
			<string>• A prone creature&apos;s only movement option is to crawl, unless it stands up and thereby ends the condition.</string>
			<string>• The creature has disadvantage on attack rolls.</string>
			<string>• An attack roll against the creature has advantage if the attacker is within 5 feet of the creature. Otherwise the attack roll has disadvantage.</string>
		</array>
		<array>
			<string>• A restrained creature&apos;s speed becomes 0, and it can&apos;t benefit from any bonus to its speed.</string>
			<string>• Attack rolls against the creature have advantage, and the creature&apos;s attack rolls have disadvantage.</string>
			<string>• The creature has disadvantage on Dexterity saving throws.</string>
		</array>
		<array>
			<string>• A stunned creature is incapacitated (see the condition), can&apos;t move, and can speak only falteringly.</string>
			<string>• The creature automatically fails Strength and Dexterity saving throws.</string>
			<string>• Attack rolls against the creature have advantage.</string>
		</array>
		<array>
			<string>• An unconcious creature is incapacitated (see the condition), can&apos;t move or speak, and is unaware of its surroundings.</string>
			<string>• The creature drops whatever it&apos;s holding and falls prone.</string>
			<string>• The creature automatically fails Strength and Dexterity saving throws.</string>
			<string>• Attack rolls against the creature have advantage.</string>
			<string>• Any attack that hits the creature is a critical hit if the attacker is within 5 feet of the creature.</string>
		</array>
	</array>
	<key>magicSchool</key>
	<array>
		<string>Abjuration</string>
		<string>Conjuration</string>
		<string>Divination</string>
		<string>Enchantment</string>
		<string>Evocation</string>
		<string>Illusion</string>
		<string>Necromancy</string>
		<string>Transmutation</string>
	</array>
	<key>challengeXP</key>
	<dict>
		<key>0</key>
		<integer>10</integer>
		<key>0.125</key>
		<integer>25</integer>
		<key>0.25</key>
		<integer>50</integer>
		<key>0.5</key>
		<integer>100</integer>
		<key>1</key>
		<integer>200</integer>
		<key>2</key>
		<integer>450</integer>
		<key>3</key>
		<integer>700</integer>
		<key>4</key>
		<integer>1100</integer>
		<key>5</key>
		<integer>1800</integer>
		<key>6</key>
		<integer>2300</integer>
		<key>7</key>
		<integer>2900</integer>
		<key>8</key>
		<integer>3900</integer>
		<key>9</key>
		<integer>5000</integer>
		<key>10</key>
		<integer>5900</integer>
		<key>11</key>
		<integer>7200</integer>
		<key>12</key>
		<integer>8400</integer>
		<key>13</key>
		<integer>10000</integer>
		<key>14</key>
		<integer>11500</integer>
		<key>15</key>
		<integer>13000</integer>
		<key>16</key>
		<integer>15000</integer>
		<key>17</key>
		<integer>18000</integer>
		<key>18</key>
		<integer>20000</integer>
		<key>19</key>
		<integer>22000</integer>
		<key>20</key>
		<integer>25000</integer>
		<key>21</key>
		<integer>33000</integer>
		<key>22</key>
		<integer>41000</integer>
		<key>23</key>
		<integer>50000</integer>
		<key>24</key>
		<integer>62000</integer>
		<key>25</key>
		<integer>75000</integer>
		<key>26</key>
		<integer>90000</integer>
		<key>27</key>
		<integer>105000</integer>
		<key>28</key>
		<integer>120000</integer>
		<key>29</key>
		<integer>135000</integer>
		<key>30</key>
		<integer>155000</integer>
	</dict>
	<key>challengeProficiencyBonus</key>
	<dict>
		<key>0</key>
		<integer>2</integer>
		<key>0.125</key>
		<integer>2</integer>
		<key>0.25</key>
		<integer>2</integer>
		<key>0.5</key>
		<integer>2</integer>
		<key>1</key>
		<integer>2</integer>
		<key>2</key>
		<integer>2</integer>
		<key>3</key>
		<integer>2</integer>
		<key>4</key>
		<integer>2</integer>
		<key>5</key>
		<integer>3</integer>
		<key>6</key>
		<integer>3</integer>
		<key>7</key>
		<integer>3</integer>
		<key>8</key>
		<integer>3</integer>
		<key>9</key>
		<integer>4</integer>
		<key>10</key>
		<integer>4</integer>
		<key>11</key>
		<integer>4</integer>
		<key>12</key>
		<integer>4</integer>
		<key>13</key>
		<integer>5</integer>
		<key>14</key>
		<integer>5</integer>
		<key>15</key>
		<integer>5</integer>
		<key>16</key>
		<integer>5</integer>
		<key>17</key>
		<integer>6</integer>
		<key>18</key>
		<integer>6</integer>
		<key>19</key>
		<integer>6</integer>
		<key>20</key>
		<integer>6</integer>
		<key>21</key>
		<integer>7</integer>
		<key>22</key>
		<integer>7</integer>
		<key>23</key>
		<integer>7</integer>
		<key>24</key>
		<integer>7</integer>
		<key>25</key>
		<integer>8</integer>
		<key>26</key>
		<integer>8</integer>
		<key>27</key>
		<integer>8</integer>
		<key>28</key>
		<integer>8</integer>
		<key>29</key>
		<integer>9</integer>
		<key>30</key>
		<integer>9</integer>
	</dict>
	<key>monsterXPMultiplier</key>
	<dict>
		<key>0</key>
		<real>0.5</real>
		<key>1</key>
		<integer>1</integer>
		<key>2</key>
		<real>1.5</real>
		<key>3</key>
		<integer>2</integer>
		<key>7</key>
		<real>2.5</real>
		<key>11</key>
		<integer>3</integer>
		<key>15</key>
		<integer>4</integer>
		<key>999999</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
